html.no-scroll, body.no-scroll{
	overflow: hidden;
}
body.no-scroll{
	padding-right: 17px;;
}
body.no-scroll #scrollToTop{
	right: 62px;
}
.content{
	padding-top: 52px;
	overflow: hidden;
}
.title{
	font-family: $ffBlogger;
	color: $colorBlue;
	font-size: 36px;
	font-weight: 700;
	line-height: normal;
	padding-top: 30px;
	padding-bottom: 20px;
}
.small-title{
	font-family: $ffBlogger;
    color: $colorBlue;
    font-size: 32px;
    font-weight: 500;
    line-height: normal;
    padding-top: 15px;
	padding-bottom: 20px;
}
.sub-title{	
	color:$colorBlack;
	font-size: 14px;
	font-weight: 500;
	line-height: normal;
	max-width: 520px;
	padding-bottom: 20px;
}
.content-wrapper{
    max-width: 1160px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}



#scrollToTop{
	position: fixed;
	right: 45px;
	bottom: 45px;
	background-color: rgb(0, 164, 211);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid #fff;
	cursor: pointer;
	transition: .5s;
	&:hover{
		box-shadow: 0px 0px 5px rgba(0, 164, 211, .6);
		background-color: #008BB2;
	}
	&:after{
		content: "";
		display: block;
		width: 12px;
		height: 12px;
		border-bottom: 3px solid #fff;
		border-right: 3px solid #fff;
		transform: rotate(-135deg);
		position: absolute;
		top: 15px;
		left: 13px;
	}
}


#callback{
	position: fixed;
	left: 45px;
	bottom: 45px;
	background-color: rgb(0, 164, 211);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 2px solid #fff;
	cursor: pointer;
	transition: .5s;
	background-image: url(../images/envelope.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 26px;
	&:hover{
		box-shadow: 0px 0px 5px rgba(0, 164, 211, .6);
		background-color: #008BB2;
	}
}






#modal{
	display: none;
	.modal-wrapper{
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.7);
		z-index: 999;
		overflow: auto;
	}
	.modal-inner{
		position: relative;
		background-color: #fff;
		width: 100%;
		max-width: 600px;
		box-sizing: border-box;
		margin: 120px auto 100px;
		border-radius: 12px;
		text-align: center;
		padding: 15px 40px 30px;
		display: none;
		.close{
			position: absolute;
			top: 10px;
			right: 10px;
			width: 25px;
			height: 25px;
			background-image: url(../images/close-modal.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			cursor: pointer;
			transform: rotate(0deg);
			transition: .5s;
			&:hover{
				transform: rotate(180deg);
			}
		}
		.title{
			font-size: 32px;
			padding-top: 0px;
		}
		.field-wrapper{
			display: flex;
			padding-bottom: 15px;
			.caption{
				width: 200px;
				box-sizing: border-box;
				padding-right: 12px;
				text-align: right;
				font-size: 16px;
				line-height: 30px;
			}
			input{
				width: calc(100% - 200px);
				outline: none;
				border-radius: 6px;
				border: 1px solid #00a4d3;
				padding: 0px 6px;
				height: 30px;
				font-size: 16px;
			}
			textarea{
				width: calc(100% - 200px);
				outline: none;
				border-radius: 6px;
				border: 1px solid #00a4d3;
				padding: 0px 6px;
				resize: none;
				height: 110px;
				padding: 4px 6px;
				font-family: 'Roboto', sans-serif;
				font-size: 16px;
			}
		}
		.submit{
			display: block;
			width: 150px;
			height: 40px;
			border-radius: 6px;
			background-color: #00A4D3;
			font-family: 'Roboto', sans-serif;
			font-size: 16px;
			font-weight: 500;
			color: #fff;
			margin: 0 auto;
			transition: .3s;
			text-transform: uppercase;
			outline: none;
			border: none;
			cursor: pointer;
			&:hover{
				background-color: #008BB2;
			}
		}
	}
}


