.documents-page{
	padding-top: 40px;
    padding-bottom: 60px;
    .title{
        text-align: center;
    }
    .small-title{
        span{
            &:after{
                @include mw(500){
                    content: "";
                    display: block;
                    border-bottom: 2px solid $colorBlue;
                    border-right: 2px solid $colorBlue;
                    width: 10px;
                    height: 10px;
                    transform: rotate(45deg);
                    position: absolute;
                    top: 8px;
                    right: 8px;
                    transition: .3s;
                }
            }
            @include mw(500){
                position: relative;
                padding-right: 30px;
                display: block;
            }
        }
        &.active{
            span{
                &:after{
                    transform: rotate(-135deg);
		            top: 15px;
                }
            }
        }
        @include mw(500){
            font-size: 24px;
            padding-top: 5px;
            padding-bottom: 8px;
        }
    }
    .caption{
        p{
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            color: $colorBlack;
            padding-bottom: 12px;
        }
    }
    .documents-page-wrapper{
        box-sizing: border-box;
        padding-left: 20px;
        >a{
            display: flex;
            justify-content: flex-start;
            align-content: center;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            color: $colorBlack;
            padding-bottom: 12px;
            text-decoration: none;
            min-height: 40px;
            .icon-wrapper{
                &.pdf{
                    background-image: url(../images/pdf-icon-black.png);
                }
                &.word{
                    background-image: url(../images/word-icon-black.png);
                }
                &.excel{
                    background-image: url(../images/excel-icon-black.png);
                }
            }
            &:hover{
                .document-name{
                    color: $colorBlue;
                }
                .icon-wrapper{
                    &.pdf{
                        background-image: url(../images/pdf-icon.png);
                    }
                    &.word{
                        background-image: url(../images/word-icon.png);
                    }
                    &.excel{
                        background-image: url(../images/excel-icon.png);
                    }
                }
            }
        }
        @include mw(500){
            display: none;
		    padding-top: 15px;
        }
    }
    .icon-wrapper{
        width: 40px;
        height: 40px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 10px;
        transition: .2s;
    }
    .document-name{
        display: inline-flex;
        align-items: center;
        width: calc(100% - 50px);
        transition: .2s;
    }
    @include mw(500){
        padding-top: 0px;
    }
}
